body { 
  font-family: Arial, sans-serif;
  background-color: transparent;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh; /* Full height for the body */
  overflow: hidden; /* Hide overflow */
}

#logo {
    background-color: transparent;
  position: absolute; /* Position logo */
  bottom: 27px; /* Adjust position from the bottom */
  left: 30px; /* Position from the left */
  width: 97px; /* Width of your logo */
  height: auto; /* Maintain aspect ratio */
}

#grafico-invitado-rol {
  display: flex;
  flex-direction: column; /* Align items vertically */
  position: absolute; /* Position absolute to place near logo */
  left: 131px; /* Align with logo */
  bottom: 37px; /* Space from the bottom */
}

#grafico-invitado-rol h1 {
  background-color: rgba(220, 223, 120, 1); /* Fondo blanco para h1 */
  color: rgba(22, 75, 131, 1); /* Color de letra para h1 */
  padding: 8px 10px; /* Padding para h1 */
  border-radius: 5px 5px 0 0; /* Bordes redondeados superiores */
  margin: 0; /* Remove default margin */
  font-size: 15px; /* Tamaño de letra reducido para h1 */
}

#grafico-invitado-rol h2 {
  background-color: rgba(22, 75, 131, 1); /* Fondo color para h2 */
  color: white; /* Color de letra para h2 */
  padding: 7px 10px; /* Padding para h2 */
  border-radius: 0 0 5px 5px; /* Bordes redondeados inferiores */
  margin: 0; /* Remove default margin */
  font-size: 13px; /* Tamaño de letra reducido para h2 */
}

#grafico-tema {
  background-color: transparent; /* rgba(220, 223, 220, 1); /* Fondo para tema */
  color: rgba(22, 75, 131, 1); /* Color de letra para tema */
  padding: 7px 15px; /* Padding para tema */
  border-radius: 5px; /* Bordes redondeados */
  text-align: left; /* Center the text */
  width: auto; /* Ajusta el ancho según sea necesario */
  display: flex;
  align-items: center; /* Center vertically */
    position: absolute; /* Position absolute to place near logo */
  left: 131px; /* Align with logo */
bottom: 45px; /* Space from the bottom */
}

#grafico-tema h1 {
  background-color: rgba(220, 223, 120, 1); /* Fondo blanco para h1 */
  color: rgba(22, 75, 131, 1); /* Color de letra para h1 */
  padding: 10px 20px; /* Padding para h1 */
  border-radius: 5px 5px 0 0; /* Bordes redondeados superiores */
  margin: 0; /* Remove default margin */
  font-size: 15px; /* Tamaño de letra reducido para h1 */
}

#status {
  margin-top: 20px;
  font-size: 1.1em;
  color: #333;
  position: absolute; /* Position status at the top */
  top: 10px;
  left: 10px;
}

#grafico-invitado-rol.show, #grafico-tema.show {
  opacity: 1;
  transform: translateY(0);
}


#grafico-publicidad {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  position: absolute;
  left: 215px;
  bottom: 100px;
}

#grafico-publicidad img {
  width: auto; /* Mantiene la proporción original de la imagen */
  height: 150px; /* Ajusta la altura como mejor te convenga */
  border-radius: 5px; /* Bordes redondeados si lo deseas */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro de su contenedor sin deformarse */
}
